.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #6FCF97;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  background-color: #6FCF97;
}

header {
  background-color: #6FCF97 !important;
}

button {
  background-color: #6FCF97 !important;
  color: white !important;
}

#title {
  color: white;

}


h1{
  font-family: 'Varela', sans-serif;
  font-size: 1.2em;
}

.quarter-summary {
  background-color: #6FCF97 !important;
}

#quarter-title{
  color: white !important;

}

.cancelButton {
  background-color: white !important;
  outline-color: #6FCF97 !important;
  color: #6FCF97 !important;
}




.slogan {
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.title {
  margin-top: 20vh;
  margin-bottom: 3vh;
  font-size: 30px;
}

.text{
  color: grey;
  font-size: 20px;
  margin-bottom: 3vh;
}

.left {
  width: 40vw;
  margin: 5vh 10vw;
  display: inline-block;
}

.right {
  display: inline-block;
}

.center {
  display: flex;
  justify-content: center;
}

.gradient {
    background: linear-gradient(to bottom, #6fcf97 29%, #ffffff 83%);
    min-height: 60vh;
    margin: 0;
    padding: 10vh 0vw;
}